
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Alex Quinlan, Freelance Developer Extraordinnaire</title>

  <link rel="shortcut icon" type="image/x-icon" href="/internal/images/favicon.ico">

  <link href="external/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="external/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  <link href="internal/css/all.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="external/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="external/js/jquery.parallax-1.1.js"></script>
  <script type="text/javascript" src="external/js/bootstrap-scrollspy.js"></script>
  <script type="text/javascript" src="external/js/bootstrap-collapse.js"></script>
  <script type="text/javascript" src="external/js/jquery.localscroll-1.2.7-min.js"></script>
  <script type="text/javascript" src="external/js/jquery.scrollTo-1.4.2-min.js"></script>


  <script type="text/javascript">
  <!--
  // if (screen.width <= 699) {
  // document.location = "http://augustinas.eu/dev/4/mobile.html";
  // };
  // if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
  //    location.replace("http://augustinas.eu/dev/4/mobile.html");
  // };
  //-->
  </script>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <style> #page {opacity:0;}</style>

  <script>
  // Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40375475-1', 'alexqueue.com');
    ga('send', 'pageview');

  </script>
</head>


<body data-spy="scroll" data-offset="10" id="page">
<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <div class="nav-collapse">
          <ul id="navi" class="nav">
            <li><a href="#home">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="#portfolio">Portfolio</a></li>
            <!-- <li><a href="#fourth">Fourth</a></li> -->
            <li><a href="#fifth">Contact</a></li>
            <li><a href="/internal/AlexResumeCS-Web.pdf" target="_blank">CV</a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- <aside>
  <div class="xnavbar">
    <div class="">
      <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <div class="nav-collapse">
          <ul id="navi" class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#fifth">Contact</a></li>
            <li><a href="/internal/AlexResumeCS-Web.pdf" target="_blank">CV</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside> -->
<div id="home">
  <div class="story">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3"> 
        </div>
        <div class="span9">
          <h1 class="name-logo">ALEX QUINLAN <!-- <span class="rnd">{1.1}</span> --></h1>
          <p>Brooklyn-based freelance engineer/developer</p>
          <div class="row-fluid">
            <div class="span5 skills">
              <h2>Skills:</h2>
              <p>
                <ul>
                  <li>
                    Ruby (Sinatra and DataMapper)
                  </li>
                  <li>
                    Python (and Django)
                  </li>
                  <li>
                    SQL
                  </li>
                  <li>
                    HTML, CSS, JavaScript
                  </li> 
                  <li>
                    C# .NET
                  </li> 
                  <li>
                    Objective-C
                  </li>
                </ul>
              </p>
              <p><a class="btn" href="/internal/AlexResumeCS-Web.pdf" target="_blank">Resume »</a></p>
            </div>
            <!--/span-->
            <!-- <span class="span2">
              <img src="/internal/images/prof1.jpg" class="rnd">
            </span> -->
          </div>
            <!--/row--> 
        </div>
        <!--/span--> 
      </div>
      <!--/row--> 
    </div>
    <!-- <div id="bubble">V</div> -->
  </div>
  <!--.story--> 
</div>
<!--#intro--> 


<!-- floating objects in background, please documentation-->
<!--
<div class="bg"></div>
<div class="bg2"></div>
-->
<!-- /floating objects in background -->

<!--#second-->

<!-- <div id="about">    
  <div class="container">
    <div class="story">
      <div class="row">
        <h1>About</h1>
        <p>I'm a passionate developer who has been coding since 2000. I graduated in 2011 with a BS in Applied Physics from Columbia University and a BA from Oberlin College in Engineering.</p>
      </div>
    </div>
  </div>
</div>
  <script src="internal/js/drawMethods.js"></script>
  <script src="internal/js/solar-inputs.js"></script>

  <script src="internal/js/solar.js"></script>
 -->
<div id="portfolio">
  <div class="container-fluid">
    <div class="story">
      <div class="row-fluid">
        <div class="span3">
        </div>

        <div class="span9">
          <h1>Experience </h1>
          <p>I'm a passionate developer who has been coding since middle school. I graduated in 2011 with a BS in Applied Physics from Columbia University and a BA from Oberlin College in Engineering.</p>
        </div>
        <div class="span12">

          <h2>Web:</h2>
          
          <ul class="thumbnails">
            <span class="xspan6 half">
              <li class="span3">
                <a href="http://mytimeline.com" class="thumbnail" target="_blank">
                  <img src="/internal/images/mtl1.png" alt="" style="">
                </a>
                <p>Frontend and backend (Ruby Sinatra, PostgreSQL) developer.</p>
              </li>
              <li class="span3">
                <a href="http://gifgrow.com" class="thumbnail" target="_blank">
                  <img src="/internal/images/gifgrow1.png" alt="">
                </a>
                <p>Personal project. Designed, wrote front and back ends (Ruby Sinatra, PostgreSQL)</p>
              </li>
            </span>
            <span class="xspan6 half">
              <li class="span3">
                <a href="http://busker.fm" class="thumbnail" target="_blank">
                  <img src="/internal/images/busker1.png" alt="">
                </a>
                <p>Backend developer (Ruby Sinatra, PostgreSQL)</p>
              </li>
            <!-- </ul> -->
            <!-- <ul class="thumbnails"> -->
              <li class="span3">
                <a href="http://arizonadreamvacation.com" class="thumbnail" target="_blank">
                  <img src="/internal/images/ADZ.png" alt="">
                </a>
                <p>Frontend, backend developer</p>
              </li>
            </span>
          </ul>
          <h2>Other:</h2>
          <ul class="thumbnails">
            <li class="span3">
              <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=636911141&mt=8" target="_blank" class="thumbnail">
                <img src="/internal/images/solar1.png" alt="" style="">
              </a>
              <p>Personal project. Solar System simulator for iOS. Physics engine written from scratch in Objective-C. Designs by myself and <a href="http://studiobaurealis.com/">Laura.</a></p>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="/internal/images/AB1.png" alt="">
              </a>
              <p>SQL, C# developer at AllianceBernstein (June 2011-July 2012)</p>
            </li>
          </ul>
        </div>
      </div>
    </div><!--.story--> 
  </div>
</div>
<!--#third-->

<!--#fourth-->
<div id="fourth" style="display: none;">
    <div class="story">
        <div class="container">
                <h1>Another element</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio. Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.</p>
        </div>
    </div><!--.story--> 
</div>
<!--#fourth-->

<!--#fifth-->
<div id="fifth">
  <div class="container-fluid">
      <div class="story contact-story">
          <div class="row-fluid">
            <span class="span8">
              <img src="/internal/images/profile.jpg" class="" style="width:400px; margin-left:18px;">
            </span>
            <div class="span4">
              <h1>Contact</h1>
              <p> 
                <strong>Email: </strong><a href="mailto:alexsquinlan@gmail.com">alexsquinlan@gmail.com</a><br>
                <strong>Facebook: </strong><a href="http://facebook.com/alexqueue">alexQueue</a><br>
                <!-- <br>
                <strong>Address: </strong>12/562 Little Palm Street
                23056 City Canada <br> -->
              </p>
            </div> <!-- /span --> 

            </div>
        </div>
            <!-- <span class="span2">
              <img src="/internal/images/prof5.jpeg" class="rnd">
            </span> -->
    </div>
</div>
<!--#fifth-->

<!-- footer --> 
<footer class="footer"> 
  <div class="row">
  <!-- <div class="span2"><a class="btn btn-inverse" href=""><i class="icon-bookmark"></i>Bookmark</a> </div>  -->
    <div class="span3"><p> &copy; Alex Quinlan 2012</p></div>
  </div>
  <p>
  Special thanks to <a href="http://headlikeanorange.tumblr.com/">Head Like an Orange</a> for his amazing GIFs.</p>
  <a style="" href="http://stackoverflow.com/users/902907/alexqueue">
    <img src="http://stackoverflow.com/users/flair/902907.png" width="208" height="58" alt="profile for AlexQueue at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for AlexQueue at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a>
</footer>
<!-- /footer --> 

<!-- Le JS --> 
<script>
  $(document).ready(function(){
    $('#navi').localScroll(800);
    RepositionNav();
    $(window).resize(function(){
      RepositionNav();
    }); 
    // .parallax(xPosition, adjuster, inertia, outerHeight) options:
    // xPosition - Horizontal position of the element.
    // adjuster - y position to start from.
    // inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling.
    // outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport.

    if(!navigator.userAgent.match(/(iPhone|iPod|iPad)/i)) {
      $('#intro').parallax("50%", 0, 0.1, true);
      // $('#about').parallax("50%", 0, 0.1, true);
      $('.bg').parallax("5%", 3000, 0.8, true);
      $('.bg2').parallax("30%", 3500, 0.8, true);
      $('#portfolio').parallax("50%", 2000, 0.4, true);
      $('#canvas').parallax("30%", 3500, 0.3, true);

      $('#fourth').parallax("50%", 0, 0.1, true);
      }
  });
  $('#navbar').scrollspy();
</script>

<script>
$(".collapse").collapse()
</script>


<!-- page fade effect - this simple trick first waits for page to load(images, content) and after it's loaded fades it. You can remove it by deleting this section. -->
<!-- read documentation -->
<script>
$(document).ready(function() {
  $('#page').fadeTo(1500, 1);
});
</script>
<!-- /page fade effect -->
</body>
</html>