<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
     <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- <meta itemprop="image" content="/internal/images/favicon.ico"> -->

    <title>
      ___ologist
    </title>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alex Quinlan">
    <meta http-equiv="Content-Language" content="en" />

    <link rel="shortcut icon" href="/internal/images/favicon.ico" type="image/x-icon" />

    <!-- external -->
    <script type="text/javascript" src="/external/js/jquery.js"></script>
    <script type="text/javascript" src="/external/js/jqueryui.js"></script>

    <!-- internal -->
    <script type="text/javascript" src="/internal/js/global.js"></script>
    <link rel="stylesheet" type="text/css" href="/internal/css/all.css" />



    <script type="text/javascript">
      // google analytics
    </script>

  </head>
  <body>
    <%= partial :navbar %>

    <div id="main">
      <%=yield%>
    </div>
  </body>
</html>
