<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AlexQueue: Solar</title>
  </head>
  <body>
    <h1 style="color: white;"> SOLAR SANDBOX</h1>
    <h2 style="color: white;">Gravity Simulator App</h2>
    <h3 style="color: white;">Under Construction</h3>
    <a href="http://twitter.com/alexQueue">Contact</a>

    <script src="internal/js/solar.js"></script>
    <footer>
      <hr>
      <a href="http://twitter.com/alexQueue">Contact</a>
    </footer>
  </body>
  <style>
    body {
      font-family: 'Futura';
      text-align: center;
      background:url(/internal/images/solar-bg.jpg) no-repeat;
    }
</html>
