<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial :head %>
    <title>AlexQueue: Solar</title>

  </head>
  <body>
    <h1> SOLAR SANDBOX</h1>
    <h2>Gravity Simulator App</h2>
    <h3>Under Construction</h3>
    <canvas id="canvas"></canvas>
    <script src="internal/js/drawMethods.js"></script>
    <script src="internal/js/solar-inputs.js"></script>

    <script src="internal/js/solar.js"></script>

    <footer>
      <hr>
      <a href="http://twitter.com/alexQueue">Contact</a>
    </footer>
  </body>
  <style>
    body {
      font-family: 'Futura';
      color: orangered;
      text-align: center;
      background-color: black;
      /*background:url(/internal/images/solar-bg.jpg) no-repeat;*/
    }
</html>
